{% extends 'snippets/base.html' %}
{% load static %}
{% load humanize %}

{%  block content %}
    <!-- Sale & Revenue Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-line fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Today Sale</p>
                        <h6 class="mb-0">UZS: {{ today_sales.amount__sum|intcomma }}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-bar fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Sales</p>
                        <h6 class="mb-0">UZS: {{ total_sales.amount__sum|intcomma }}</h6>
                    </div>
                </div>
            </div>

            {% if is_brand %}
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-area fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Bank Account Balance</p>
                            <h6 class="mb-0">UZS: {{ merchant_bank_balance|intcomma }}</h6>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-pie fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Balance(Wallet)</p>
                        <h6 class="mb-0">UZS: {{ balance|intcomma }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sale & Revenue End -->

    <!-- Recent Sales Start -->
    <div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h6 class="mb-0">Recent Sales</h6>
        <a href="">Show All</a>
    </div>
    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Customer wallet</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for payment in payments %}
                                  <tr>
                                    <td><input class="form-check-input" type="checkbox"></td>
                                    <td>{{ payment.created_at}}</td>
                                    <td>{{ payment.client.first_name }}</td>
                                    <td>{{ payment.client.card }}</td>
                                    <td>{{ payment.amount|intcomma}}</td>
                                      {% if payment.status == 1 %}
                                       <td><button class="btn btn-success m-1"></button></td>
                                          {% else %}
                                          <td><button class="btn btn-square btn-danger m-2"><i class="btn-close"></i></button></td>
                                      {% endif %}
                                  <td>
                                    <form action='{% url 'main:cancel-payment-by-id' payment.id %}' method='GET'>
                                        <button class="btn btn-danger m-1" type='submit'> Cancel</button>
                                    </form>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
    </div>
    </div>
    <!-- Recent Sales End -->
{%  endblock content %}